.single__container
  %header.single__header
    %h1.logo
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2651893653", class: "logo__image"
    %nav.signup-bar
      %ol.clearfix.progress-bar
        %li.active
          会員情報
          .progress-bar__status.progress-bar__status--first
        %li.active.active-last
          電話番号認証
          .progress-bar__status
        %li
          お届け先住所入力
          .progress-bar__status
        %li
          支払い方法
          .progress-bar__status
        %li
          完了
          .progress-bar__status.progress-bar__status--last
  %main.single__main
    %section.l-single__container
      %h2.l-single__head.registration 電話番号の確認
      = form_with model: @user, url: sms_authentication_signup_index_path, class: "l-single__inner", method: :post, local: true do |f|
        .l-single__content
          .form__group
            = f.label :phone_number, "携帯電話の番号"
            = f.telephone_field :phone_number, class: "input-default", placeholder: "携帯電話の番号を入力"
            %p.l-chapter__text
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit 'SMSを送信する',class: "btn-default btn-red"
          %p.form__info-text
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form__group.text-right
            %p
              -# %a{href: "#", target: "_blank"}
              = link_to root_path, target: "_blank" do
                電話番号の確認が必要な理由
                = fa_icon "chevron-right"
                -# %i.icon-arrow-right
  = render partial: "shared/iFooter"