-# ログアウト
= render"products/header"
- breadcrumb :logout
= render 'layouts/breadcrumbs'
.mypage.clearfix
  .mypage__content
    .chapter-container
      .single-inner
        .single-content
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-default btn-red'

  .mypage-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypage_path(current_user.id), class: 'mypage-nav-list__item' do
            マイページ
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            お知らせ
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            やることリスト
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            いいね！一覧
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品する
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品した商品 - 出品中
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品した商品 - 取引中
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品した商品 - 売却済み
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            購入した商品 - 取引中
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            購入した商品 - 過去の取引
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            ニュース一覧
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            評価一覧
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            ガイド
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            お問い合わせ
            = fa_icon "chevron-right"
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            売上・振込申請
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            ポイント
            = fa_icon "chevron-right"
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to profile_mypages_path, class: 'mypage-nav-list__item' do
            プロフィール
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            発送元・お届け先住所変更
            = fa_icon "chevron-right"
        %li
          = link_to card_mypages_path, class: 'mypage-nav-list__item' do
            支払い方法
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            メール/パスワード
            = fa_icon "chevron-right"
        %li
          = link_to identification_mypages_path, class: 'mypage-nav-list__item' do
            本人情報
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            電話番号の確認
            = fa_icon "chevron-right"
        %li
          = link_to logout_mypages_path, class: 'mypage-nav-list__item active' do
            ログアウト
            = fa_icon "chevron-right"
.exhibit
  =link_to new_product_path(current_user) do
    .exhibit__link__circle
      .exhibit__link__circle__text 出品
      %svg.exhibit__link__circle__text__svg{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
        %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}

%aside.footer-img
  = render"products/footer"
