-# マイページ
= render"products/header"
- breadcrumb :mypage
= render 'layouts/breadcrumbs'
.mypage.clearfix
  .mypage__content
    %section.user-icon
      = link_to '#' do
        %figure
          = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', alt: '', height: '60', width: '60'
        = current_user.nickname
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0
    %section.mypage-tab
      %ul.mypage-tabs
        %li.tab.active
          %h3
            お知らせ
            %span.hidden-large.nav-number
              1
        %li.tab
          %h3
            やることリスト
            %span.hidden-large.nav-number
              1
      .tab-content
        %ul.mypage-item-list.tab-pane.show
          %li
          %li.mypage-go-list
            = link_to '#' do
              一覧を見る
        %ul.mypage-item-list.tab-pane
          %li
          %li.mypage-go-list
            = link_to '#' do
              一覧を見る
    -# %aside.modal{"data-close" => "modal", "data-modal" => "banner"}
    -#   .modal-inner.modal-banner
    -#     .modal-inner__eye-catch
    -#       %img.first{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2651893653"}/
    -#       %img.last{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2651893653"}/
    -#     .modal-inner__body
    -#       %h2 今すぐ無料ダウンロード！
    -#       %p.bold 全ての機能を使えるスマホアプリはこちら！
    -#       .modal-banner-app.clearfix
    -#         %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
    -#           %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2651893653"}/
    -#         %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
    -#           %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2651893653"}/
    -#       %a.modal-banner-app-open{"data-action" => "app/launch", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""}
    -#         アプリで開く
    -#     %i.icon-close{"data-close" => "modal"}
    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.mypagetab.active
          %h3
            = link_to '#' do
              取引中
        %li.mypagetab
          %h3
            = link_to '#' do
              過去の取引
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 過去に取引した商品がありません
  .mypage-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypage_path(current_user.id), class: 'mypage-nav-list__item active' do
            マイページ
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            お知らせ
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            やることリスト
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            いいね！一覧
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品する
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品した商品 - 出品中
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品した商品 - 取引中
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            出品した商品 - 売却済み
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            購入した商品 - 取引中
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            購入した商品 - 過去の取引
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            ニュース一覧
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            評価一覧
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            ガイド
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            お問い合わせ
            = fa_icon "chevron-right"
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            売上・振込申請
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            ポイント
            = fa_icon "chevron-right"
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to profile_mypages_path, class: 'mypage-nav-list__item' do
            プロフィール
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            発送元・お届け先住所変更
            = fa_icon "chevron-right"
        %li
          = link_to card_mypages_path, class: 'mypage-nav-list__item' do
            支払い方法
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            メール/パスワード
            = fa_icon "chevron-right"
        %li
          = link_to identification_mypages_path, class: 'mypage-nav-list__item' do
            本人情報
            = fa_icon "chevron-right"
        %li
          = link_to '#', class: 'mypage-nav-list__item' do
            電話番号の確認
            = fa_icon "chevron-right"
        %li
          = link_to logout_mypages_path, class: 'mypage-nav-list__item' do
            ログアウト
            = fa_icon "chevron-right"
.exhibit
  =link_to new_product_path do
    .exhibit__link__circle
      .exhibit__link__circle__text 出品
      %svg.exhibit__link__circle__text__svg{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
        = fa_icon "camera-retro"

%aside.footer-img
  = render"products/footer"
