.single__container
  %header.single__header
    %h1
      = link_to root_path do
        = image_tag "logos/fmarket_logo_red.svg"
  %main.single__main
    .login__panel
      .login__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", signup_index_path
      .login__inner
        -# %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
        -#   %i.icon-facebook
        -#     = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, method: :post
        -# %button#google-login.btn-default.btn-sns.btn-sns-google
        -#   %i.icon-google
        -#     = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post
        = link_to user_facebook_omniauth_authorize_path, method: :post, id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" do
          = fa_icon "facebook-official", class: "btn__icon"
          Facebookで登録する
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, id: "google-login", class: "btn-default btn-sns btn-sns-google" do
          = fa_icon "google", class: "btn__icon"
          Googleで登録する
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__inner
          .form__group
            = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "input-default login__input--text"
          .form__group
            = f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "input-default login__input--text"
          .form__group
            = recaptcha_tags
          %button.login__submit.btn-default.btn-red{type: "submit"} ログイン
          %input{name: "login__callback", type: "hidden", value: ""}
          %input{name: "#", type: "hidden", value: "#"}
          .form__group
            = link_to "パスワードをお忘れの方", root_path
  = render partial: "products/iFooter"

