.single__container
  %header.single__header
    %h1
      %a{href: "#"}
        %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3580354878"}/
  %main.single__main
    .login__panel
      .login__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", registration_signup_index_path
      .login__inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.icon-facebook
            = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path
        %button#google-login.btn-default.btn-sns.btn-sns-google
          %i.icon-google
            = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path
      %form{action: "#", method: "POST", novelidate: "novalidate"}
        .login__inner
          .form__group
            %input.input-default.login__input--text{name: "email", type: "email", placeholder: "メールアドレス"}
          .form__group
            %input.input-default.login__input--text{name: "password", type: "password", placeholder: "パスワード"}
          .form__group
            .g-recaptcha.login__captcha
          %button.login__submit.btn-default.btn-red{type: "submit"} ログイン
          %input{name: "login__callback", type: "hidden", value: ""}
          %input{name: "#", type: "hidden", value: "#"}
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "パスワードをお忘れの方", new_password_path(resource_name)
  = render partial: "signup/iFooter"

