.header
  .header__main
    .header__top
      .header__logo
        = link_to root_path, class: 'header__logo__box' do
          %img.header__logo__box__img{:alt => "mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
      .search
        %form.search__box{:action => "#"}
          %input.search__box__ber{:name => "keyword", :placeholder => "What are you looking for？", :type => "search"}/
          %button.span{:type => "submit"}
            = fa_icon "search"
  
    .header__bottom
      %nav.header__content
        %ul.header__content__cg
          .header__content__category{:href => "#"}
            = fa_icon "bars"
            %span.header__content__category__text カテゴリーから探す
            
          %ul.header__menu-box--left__parents
            %li.header__menu-box--left__parents__parent



        %ul.header__content__bd
          %a.header__content__brand{:href => "/jp/brand/"}
            = fa_icon "tags"
            %span.header__content__brand__text ブランドから探す
      .header__uzer
        %ul.account
          - if user_signed_in?
            %li.like
              %a.like__box{:href => "#"}
                %svg.like__box__logo{"aria-hidden" => "true", :height => "15", :viewbox => "0 0 16 15", :width => "16"}
                = fa_icon "heart-o"
                %span.like__box__text いいね！一覧
            %li.notice
              %a.notice__box{:href => "#"}
                %svg.notice__box__logo{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 14 16", :width => "14"}
                = fa_icon "bell-o"
                %span.notice__box__text お知らせ
            %li.things
              %a.things__box{:href => "#"}
                %svg.things__box__logo{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                = fa_icon "check"
                %span.things__box__text やることリスト
                .sc-ibxdXY.fVKnBn
                  .sc-bYSBpT-text 現在、やることリストは多分ありません
                  
            %li.mypage-link
              %a.mypage-link__box__img
                = link_to "/mypages/#{current_user.id}" do
                  %img.mypage-link__box__img{:alt => "", :src => "https://static.mercdn.net/thumb/members/297177608.jpg?1426679495"}>/
                  %span.mypage-link__box__text マイページ
          - else
            %li.sigup
              %a.signup-btn
                = link_to signup_index_path do
                  %span.text 新規会員登録

            %li.sigin
              %a.signin-btn
                = link_to user_session_path do
                  %span.text ログイン