.header
  .header__main
    .header__top
      .header__logo
        = link_to root_path, class: 'header__logo__box' do
          %svg{:viewbox => "0 0 281.19 84.08", :xmlns => "http://www.w3.org/2000/svg"}
            %defs
              :css
                .cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}
            %title アセット 3
            %g{"data-name" => "レイヤー 2", :id => "レイヤー_2"}
              %g{"data-name" => "レイヤー 1", :id => "レイヤー_1-2"}
                %polygon.cls-1{:points => "36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"}
                %polyline.cls-1{:points => "0.5 21.31 36.41 42.04 72.32 21.31"}
                %polyline.cls-1{:points => "36.41 83.5 36.41 49.36 36.41 42.04"}
                %line.cls-1{:x1 => "36.41", :x2 => "0.5", :y1 => "52.41", :y2 => "31.67"}
                %line.cls-1{:x1 => "72.32", :x2 => "36.41", :y1 => "33.2", :y2 => "50.88"}
                %text.cls-2{:transform => "translate(86.41 62.77)"} Fmarket

      .search
        %form.search__box{:action => "#"}
          %input.search__box__ber{:name => "keyword", :placeholder => "What are you looking for？", :type => "search"}/
          %button.span{:type => "submit"}
            = fa_icon "search"
  
    .header__bottom
      %nav.header__content
        %ul.header__content__cg
          .header__content__category
            = fa_icon "list-ul"
            %span.category__select.text
              カテゴリーから探す
            %ul.header__menu-box--left__parents 
              - @parents.each do |parent|
                %li.header__menu-box--left__parents__parent
                  = link_to "#" do
                    = parent.name
                  %ul.header__menu-box--left__children
                    -parent.children.each do |child|
                      %li.header__menu-box--left__children__child 
                        = link_to "#" do
                          = child.name
                        %ul.header__menu-box--left__grand-children 
                          -child.children.each do |grandchild|
                            %li.header__menu-box--left__grand-children__grand-child
                              = link_to "#" do
                                = grandchild.name                  

        %ul.header__content__bd
          %li.header__content__brand
            = fa_icon "tags"
            %a.header__content.text{:href => "#"} ブランドから探す
            %ul.pc-header-nav-parent-wrap
              %li.pc-header-nav-parent
                %a.nav-brand{:href => "#"} シャネル
              %li.pc-header-nav-parent
                %a.nav-brand{:href => "#"} ナイキ
              %li.pc-header-nav-parent
                %a.nav-brand{:href => "#"} ルイ ヴィトン
              %li.pc-header-nav-parent
                %a.nav-brand{:href => "#"} シュプリーム
              %li.pc-header-nav-parent
                %a.nav-brand{:href => "#"} アディダス
              %li.pc-header-nav-parent
                %a.nav-brand{:href => "#"} ブランド一覧
          
      .header__uzer
        %ul.account
          - if user_signed_in?
            %li.like
              %a.like__box{:href => "#"}
                %svg.like__box__logo{"aria-hidden" => "true", :height => "15", :viewbox => "0 0 16 15", :width => "16"}
                = fa_icon "heart-o"
                %span.like__box__text いいね！一覧


                
            %ul.notice
              %li.notice__box
                = fa_icon "bell-o"
                %a.notice__box.text{:href => "#"} お知らせ
                %ul.pc-header-nav-parent-wrap
                  %li.pc-header-nav-parent
                    = image_tag "logos/logo_red.svg", alt: "mercari", height: "45", width: "70"
                    %a.nav-brand 事務所からの個人メッセージ「ログイン通知」
                  = fa_icon "clock-o"
                  .pc-header-nav_text 1時間前


            %ul.things
              %li.things__box
                = fa_icon "check"
                %a.things__box__text{:href => "#"} やることリスト
                %ul.sc-ibxdXY.fVKnBn
                  %li.sc-bYSBpT-text 現在、やることリストは多分ありません
                  
            %li.mypage-link
              %a.mypage-link__box__img
                = link_to "/mypages/#{current_user.id}" do
                  %img.mypage-link__box__img{:alt => "", :src => "https://static.mercdn.net/thumb/members/297177608.jpg?1426679495"}>/
                  %span.mypage-link__box__text マイページ
          - else
            %li.sigup
              %a.signup-btn
                = link_to signup_index_path do
                  %span.text 新規会員登録

            %li.sigin
              %a.signin-btn
                = link_to user_session_path do
                  %span.text ログイン
