%script{:src => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", :type => "text/javascript"}

.header
  = render"products/header"

.main
  %ul.slider-list
    %li.slider-slide
      %img.slider-slide__img{:src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg"}/

    %li.slider-slide
      %img.slider-slide__img{:src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-sale-fee-free-034ec8d0642f5714a26822988195b62c.png"}/

    %li.slider-slide.slide-visible
      .sc-dliRfk.lnMXqm
        .sc-kLIISr.fqOIIb
          %img.sc-iqzUVk.jAEZMX{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}/
          .sc-qrIAp.PkUrY
            .sc-jtggT.bqsQJl
              スマホで
              かんたん
              %br>/
              フリマアプリ
            %p.sc-ebFjAB.SGfox
              メルカリはスマホカメラからすぐに出品できる
              %br>/
              購入時も安心な独自システムのアプリです
            .sc-iGrrsa.heyozC
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :rel => "noopener noreferrer", :target => "_blank"}
                %img.sc-ipZHIp.sc-bmyXtO.gxiFBJ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :rel => "noopener noreferrer", :target => "_blank"}
                %img.sc-ipZHIp.sc-dEoRIm.jcELSQ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/

          
  .main__top
    %h2.main__top__fab 人気のカテゴリー
    .main__top__category
      %ul.main__top__category__item
        %li.main__top__category__item__ladies
          %a.main__top__category__item__ladies__text レディース
        %li.main__top__category__item__mens
          %a.main__top__category__item__mens__text メンズ
        %li.main__top__category__item__appliance
          %a.main__top__category__item__appliance__text 家電・スマホ・カメラ
        %li.main__top__category__item__toy
          %a.main__top__category__item__toy__text おもちゃ・ホビー・グッズ

  .main__main
    .main__main__connect
      .main__main__connect__new
        %h3.main__main__connect__new__text レディース新着アイテム
        .main__main__connect__new__motto
          %a.main__main__connect__new__motto__details{:href => "#"} もっと見る ＞

    .main__main__product
      %div

        %ul.main__main__product__div__box
          - @ladies.first(10).each do |ladie|
            %li.main__main__product__div__box__item
              = link_to "/products/#{ladie.id}", class: "main__main__product__div__box__item", data:{turbolinks: false} do     
                %div.main__main__product__box__item__div
                  .main__main__product__box__item__div__link
                    .fugure.main__main__product__box__item__div__link__figure
                      %figcaption.main__main__product__box__item__div__link__figure__figcaption
                        %span.main__main__product__box__item__div__link__figure__figcaption__span 
                          = ladie.name
                      .main__main__product__box__item__link__figure__figcaption__style
                        %span.main__main__product__box__item__link__figure__figcaption__style__span
                          ¥
                          = ladie.price
                        = image_tag ladie.images[0], class:"main__main__product__box__item__link__figure__figcaption__style__img"

  .main__main
    .main__main__connect
      .main__main__connect__new
        %h3.main__main__connect__new__text メンズ新着アイテム
        .main__main__connect__new__motto
          %a.main__main__connect__new__motto__details{:href => "#"} もっと見る ＞

    .main__main__product
      %div
                      
        %ul.main__main__product__div__box
          - @mens.first(10).each do |men|
            %li.main__main__product__div__box__item
              = link_to "/products/#{men.id}", class: "main__main__product__div__box__item", data:{turbolinks: false} do
                %div.main__main__product__box__item__div
                  .main__main__product__box__item__div__link
                    .figure.main__main__product__box__item__div__link__figure
                      %figcaption.main__main__product__box__item__div__link__figure__figcaption
                        %span.main__main__product__box__item__div__link__figure__figcaption__span
                          = men.name
                      .main__main__product__box__item__link__figure__figcaption__style
                        %span.main__main__product__box__item__link__figure__figcaption__style__span
                          ¥
                          = men.price
                        = image_tag men.images[0], class:"main__main__product__box__item__link__figure__figcaption__style__img"
       

  .main__main
    .main__main__connect
      .main__main__connect__new
        %h3.main__main__connect__new__text 家電・スマホ・カメラ新着アイテム
        .main__main__connect__new__motto
          %a.main__main__connect__new__motto__details{:href => "#"} もっと見る ＞

    .main__main__product
      %div
                      
        %ul.main__main__product__div__box
          - @electronics.first(10).each do |electronic|
            %li.main__main__product__div__box__item
              = link_to "/products/#{electronic.id}", class: "main__main__product__div__box__item", data:{turbolinks: false} do
                %div.main__main__product__box__item__div
                  .main__main__product__box__item__div__link
                    .figure.main__main__product__box__item__div__link__figure
                      %figcaption.main__main__product__box__item__div__link__figure__figcaption
                        %span.main__main__product__box__item__div__link__figure__figcaption__span
                          = electronic.name
                      .main__main__product__box__item__link__figure__figcaption__style
                        %span.main__main__product__box__item__link__figure__figcaption__style__span 
                          ¥
                          = electronic.price
                        = image_tag electronic.images[0], class:"main__main__product__box__item__link__figure__figcaption__style__img"

  .main__main
    .main__main__connect
      .main__main__connect__new
        %h3.main__main__connect__new__text おもちゃ・ホビー・グッズ新着アイテム
        .main__main__connect__new__motto
          %a.main__main__connect__new__motto__details{:href => "#"} もっと見る ＞

    .main__main__product
      %div
                      
        %ul.main__main__product__div__box
          - @toys.first(10).each do |toy|
            %li.main__main__product__div__box__item
              = link_to "/products/#{toy.id}", class: "main__main__product__div__box__item", data:{turbolinks: false} do
                %div.main__main__product__box__item__div
                  .main__main__product__box__item__div__link
                    .figure.main__main__product__box__item__div__link__figure
                      %figcaption.main__main__product__box__item__div__link__figure__figcaption
                        %span.main__main__product__box__item__div__link__figure__figcaption__span
                          = toy.name
                      .main__main__product__box__item__link__figure__figcaption__style
                        %span.main__main__product__box__item__link__figure__figcaption__style__span 
                          ¥
                          = toy.price
                        = image_tag toy.images[0], class:"main__main__product__box__item__link__figure__figcaption__style__img"

            

  .main__bottom
    %h2.main__bottom_brand 人気のブランド
    .main__bottom__category
      %ul.main__bottom__category__item
        %li.main__bottom__category__item__chanel
          %a.main__bottom__category__item__chanel__text シャネル
        %li.main__bottom__category__item__lv
          %a.main__bottom__category__item__lv__text ルイヴィトン
        %li.main__bottom__category__item__sup
          %a.main__bottom__category__item__sup__text シュプリーム
        %li.main__bottom__category__item__nike
          %a.main__bottom__category__item__nike__text ナイキ

  .main__foot
    .main__foot__connect
      .main__foot__connect__new
        %h3.main__foot__connect__new__text シャネル新着アイテム
        .main__foot__connect__new__motto
          %a.main__foot__connect__new__motto__details{:href => "#"} もっと見る ＞
    
    .main__foot__product
      %div                  

        %ul.main__foot__product__div__box
          %li.main__foot__product__div__box__item
            %div.main__foot__product__box__item__div
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span 
                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span 
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img

  .main__foot
    .main__foot__connect
      .main__foot__connect__new
        %h3.main__foot__connect__new__text ルイヴィトン新着アイテム
        .main__foot__connect__new__motto
          %a.main__foot__connect__new__motto__details{:href => "#"} もっと見る ＞
    
    .main__foot__product
      %div                  

        %ul.main__foot__product__div__box
          %li.main__foot__product__div__box__item
            %div.main__foot__product__box__item__div
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span 
                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span 
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img

  .main__foot
    .main__foot__connect
      .main__foot__connect__new
        %h3.main__foot__connect__new__text シュプリーム新着アイテム
        .main__foot__connect__new__motto
          %a.main__foot__connect__new__motto__details{:href => "#"} もっと見る ＞
    
    .main__foot__product
      %div                  

        %ul.main__foot__product__div__box
          %li.main__foot__product__div__box__item
            %div.main__foot__product__box__item__div
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span 
                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span 
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img

  .main__foot
    .main__foot__connect
      .main__foot__connect__new
        %h3.main__foot__connect__new__text ナイキ新着アイテム
        .main__foot__connect__new__motto
          %a.main__foot__connect__new__motto__details{:href => "#"} もっと見る ＞
    
    .main__foot__product
      %div                  

        %ul.main__foot__product__div__box
          %li.main__foot__product__div__box__item
            %div.main__foot__product__box__item__div
              %a.main__foot__product__box__item__div__link{:href => "#"}
                %figure.main__foot__product__box__item__div__link__figure
                  %figcaption.main__foot__product__box__item__div__link__figure__figcaption
                    %span.main__foot__product__box__item__div__link__figure__figcaption__span 
                  .main__foot__product__box__item__link__figure__figcaption__style
                    %span.main__foot__product__box__item__link__figure__figcaption__style__span 
                    %img.main__foot__product__box__item__link__figure__figcaption__style__img
  
  .air__box

.exhibit
  %a.exhibit__link
    =link_to new_product_path(current_user) do
      .exhibit__link__circle
        .exhibit__link__circle__text 出品
        %svg.exhibit__link__circle__text__svg{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
          = fa_icon "camera-retro"

%aside.footer-img
  = render"products/footer"
