%script{src: "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", type: "text/javascript"}


.header
  = render"products/header"

%section.item-box
  %h1.item-name
    = @product.name
  .item-main-content
    .item-photos
      .item-photo
        .item-photobox
          .item-image
            = image_tag "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/201342M176011_1/balenciaga------.jpg", alt: "ルイビトン　タイガのカードケース"
          .item-image
            = image_tag "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/201451M150215_1/gucci-----.jpg", alt: "ルイビトン　タイガのカードケース"
          .item-image
            = image_tag "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/201451M150223_1/gucci---gg-.jpg", alt: "ルイビトン　タイガのカードケース"
          .item-image
            = image_tag "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/192044M176001_1/sss-world-corp------.jpg", alt: "ルイビトン　タイガのカードケース"
          .item-image
            = image_tag "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/192896M176001_1/rochambeau---.jpg", alt: "ルイビトン　タイガのカードケース"
          .item-image
            = image_tag "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/192216M176002_1/keenkee---.jpg", alt: "ルイビトン　タイガのカードケース"

    //ここから出品者情報
    %table.item__product__table
      %tbody
        %tr
          %th.item__product__table__th 出品者
          %td.item__product__table__td
            = link_to @product.seller.nickname, root_path
            %div
              .item-user-ratings__smile
                = fa_icon "smile-o"
                %span 7
              .item-user-ratings__meh
                = fa_icon "meh-o"
                %span 7
              .item-user-ratings__frown
                = fa_icon "frown-o"
                %span 7
        %tr
          %th.item__product__table__th カテゴリー
          %td.item__product__table__td
            = link_to @product.category.name, "#"
            = link_to "#" do
              .item__product__table__category
                %i.icon-arrow-right
                小物
            = link_to "#" do
              .item__product__table__category__sub-category
                %i.icon-arrow-right
                長財布
        %tr
          %th.item__product__table__th ブランド
          %td.item__product__table__td
            = link_to @product.brand.name, "#"
        %tr
          %th.item__product__table__th 商品の状態
          %td.item__product__table__td
            = @product.condition
        %tr
          %th.item__product__table__th 配送料の負担
          %td.item__product__table__td 送料込み(出品者負担)
        %tr
          %th.item__product__table__th 配送の方法
          %td.item__product__table__td らくらくメルカリ便
        %tr
          %th.item__product__table__th 配送元地域
          %td.item__product__table__td
            = link_to @product.prefecture.name, "#"
        %tr
          %th.item__product__table__th 発送日の目安
          %td.item__product__table__td 4~7日で発送
  .item-main__price
    %span.item-main__price__bold
      = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
    %span.item-main__price__tax (税込)
    %span.item-main__price__fee 送料込み
  = link_to "購入画面に進む", "#", class: "item-main__price__buy-btn"
  .item-main__price__description
    %p.item-main__price__description__text
      = @product.description

  .item-main__price__clearfix
    .item-main__price__button-left
      %button.item-main__price__button-like{"data-ga": "element", "data-ga-category": "LIKE", "data-ga-label": "like!", "data-id": "m68241027780", "data-toggle": "like", name: "like!", type: "button"}
        %i.icon-like-border
        %span ♡　いいね!
      = link_to "", "data-model": "report-item", "data-open": "model", class: "item-button item-button-report clearfix" do
        %i.icon-flag
        %span ⚐　不適切な商品の報告
      %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m68241027780/"}/
      %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m68241027780/"}/
      %input{name: "__csrf_value", type: "hidden", value: "601cc8ee36906650a1132df5d4bcb07d1f59ea381ea07eae22023c627733c48e281d211a3de8d91788b282aed5a95a1daaeb6a5af3f417e0411f6a99d0b2c9bd6"}/
      .item-button-right
        = link_to "#", target: "_blank" do
          %i.icon-lock &#x1f512; あんしん・あんぜんへの取り組み

//ここからコメント欄
.item-detail-message
  .message-container
    .message-content
      %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "a5edbca94eacffff39f537342718b92f99c2b51a0a02f01569b4809699e88fab24ecb785b34e210e06d9d8205d5ff308deab42207eaaafcfea1cf20472299eff7"}/
        %p.text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{:name => "item_id", :type => "hidden", :link => "#"}/
        %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
        %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
        %button.message-submit.btn-default.btn-gray{:type => "submit"}
          %span.text コメントする


//ここからコメント欄より下の部分
.item-social-media-box
  .text-center

  %ul.social-media-box
    %li.social-media-box__li
      = link_to "#", class: "share-btn__facebook", "data-window-name": "facebook_window", target: "_blank" do
        = fa_icon "facebook"
    %li.social-media-box__li
      = link_to "#", class: "share-btn__twitter", "data-window-name": "twitter_window", target: "_blank" do
        = fa_icon "twitter"
    %li.social-media-box__li
      = link_to "#", class: "share-btn__pinterest", "data-window-name": "pinterest_window", target: "_blank" do
        = fa_icon "pinterest"

//その他の出品
.items-in-user-profile
  %section.items-box__top
    %h2.items-box__head
      = link_to "#{@product.seller.nickname}さんのその他の出品", "#"
    .items-box-content
      %section.items-box
        = link_to "#", class: "items-box__link" do
          %figure.items-box-photo
            = image_tag "https://static.mercdn.net/thumb/photos/m44727837355_1.jpg?1574299998", "data-src": "https://static.mercdn.net/thumb/photos/m44727837355_1.jpg?1574299998", class: "lazyloaded is-higher-height", alt: "AMEXオリジナル トランプ カードケース"
          .items-box-body
            %h3.items-box-item__name AMEXオリジナル トランプ カードケース
            .items-box-num
              .items-box-price ¥1,000
              .font-2
                = fa_icon "heart-o"
                %span 1

  //ブランド関連商品
  %section.items-box__bottom
    %h2.items-box-head
      = link_to "#{@product.category.name} その他の商品", "#"
    .items-box-content.clearfix
      %section.items-box
        = link_to "#", class: "items-box__link" do
          %figure.items-box-photo
            = image_tag "https://static.mercdn.net/thumb/photos/m44618610648_1.jpg?1571046449", "data-src": "https://static.mercdn.net/thumb/photos/m44618610648_1.jpg?1571046449", class: "lazyloaded", alt: "ルイヴィトン"
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン
            .items-box-num
              .items-box-price ¥14,333
              .font-2
                = fa_icon "heart-o"
                %span 15

%nav.bread-crumbs
  %ul.bread-crumbs__ul
    %li.bread-crumbs__li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      = link_to root_path, itemprop: "url" do
        %span.bread-crumbs__title{itemprop: "title"} メルカリ
      = fa_icon "chevron-right"
    %li.bread-crumbs__next{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span{itemprop: "title"}
        = @product.name

%aside.footer-img
  = render "products/footer"
