.header
  = render"products/header"

%section.item-box
  %h1.item-name ルイヴィトン　タイガのカードケース
  .item-main-content
    .item-photos
      .item-photo
  
        .item-photobox
          .item-image 
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white,c_lpad,g_south,h_1086,w_724/c_scale,h_480/f_auto,dpr_1.0/201342M176011_1/balenciaga------.jpg"}/

          .item-imgae
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white/c_scale,h_820/f_auto,dpr_1.0/201342M176011_2/balenciaga------.jpg"}/

          .item-imgae
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white/c_scale,h_820/f_auto,dpr_1.0/201342M176011_3/balenciaga------.jpg"}/

          .item-imgae
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white/c_scale,h_820/f_auto,dpr_1.0/201342M176011_4/balenciaga------.jpg"}/

          .item-imgae
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white/c_scale,h_820/f_auto,dpr_1.0/192677M176001_5/loewe----.jpg"}/

          .item-imgae
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white/c_scale,h_820/f_auto,dpr_1.0/192677M176001_4/loewe----.jpg"}/

          .item-imgae
            %img{:alt => "ルイビトン　タイガのカードケース", :src => "https://img.ssensemedia.com/images/b_white/c_scale,h_820/f_auto,dpr_1.0/192677M176001_1/loewe----.jpg"}/

         

    //ここから出品者情報
    %table.item__product__table
      %tbody
        %tr
          %th.item__product__table__th 出品者
          %td.item__product__table__td
            %a{:href => "#"} 藪田狼
            %div
              .item-user-ratings__smile
                = fa_icon "smile-o"
                %span 1
              .item-user-ratings__meh
                = fa_icon "meh-o"
                %span 0
              .item-user-ratings__frown
                = fa_icon "frown-o"
                %span 0
        %tr
          %th.item__product__table__th カテゴリー
          %td.item__product__table__td
            %a{:href => "https://www.mercari.com/jp/category/2/"}
              %div メンズ
            %a{:href => "https://www.mercari.com/jp/category/38/"}
              .item__product__table__category
                %i.icon-arrow-right
                小物
            %a{:href => "https://www.mercari.com/jp/category/384/"}
              .item__product__table__category__sub-category
                %i.icon-arrow-right
                長財布
        %tr
          %th.item__product__table__th ブランド
          %td.item__product__table__td
            %a{:href => "https://www.mercari.com/jp/brand/1326/"}
              %div
                ルイ ヴィトン
        %tr
          %th.item__product__table__th 商品の状態
          %td.item__product__table__td やや傷や汚れあり
        %tr
          %th.item__product__table__th 配送料の負担
          %td.item__product__table__td 送料込み(出品者負担)
        %tr
          %th.item__product__table__th 配送の方法
          %td.item__product__table__td らくらくメルカリ便
        %tr
          %th.item__product__table__th 配送元地域
          %td.item__product__table__td
            %a{:href => "https://www.mercari.com/jp/area/12/"} 千葉県
        %tr
          %th.item__product__table__th 発送日の目安
          %td.item__product__table__td 4~7日で発送
  .item-main__price
    %span.item-main__price__bold ¥6,000
    %span.item-main__price__tax (税込)
    %span.item-main__price__fee 送料込み
  %a.item-main__price__buy-btn{:href => "#"}
    購入画面に進む
  .item-main__price__description
    %p.item-main__price__description__text
      1996年、モノグラム･キャンバス誕生100周年を記念し、ルイ･ヴィトンは選りすぐりのデザイナーにそれぞれユニークなバッグの製作を依頼しました。完成したコレクションは世界の主要都市で展示され、世界中のファッション愛好家にブランドの革新的なエスプリとコラボレーションを届けました。

  .item-main__price__clearfix
    .item-main__price__button-left
      %button.item-main__price__button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m68241027780", "data-toggle" => "like", :name => "like!", :type => "button"}
        %i.icon-like-border
        %span ♡　いいね!
      %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
        %i.icon-flag
        %span ⚐　側不適切な商品の報告
      %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m68241027780/"}/
      %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m68241027780/"}/
      %input{:name => "__csrf_value", :type => "hidden", :value => "601cc8ee36906650a1132df5d4bcb07d1f59ea381ea07eae22023c627733c48e281d211a3de8d91788b282aed5a95a1daaeb6a5af3f417e0411f6a99d0b2c9bd6"}/
      .item-button-right
        %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
          %i.icon-lock &#x1f512; あんしん・あんぜんへの取り組み
          %span 

//ここからコメント欄
.item-detail-message
  .message-container
    .message-content
      %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "a5edbca94eacffff39f537342718b92f99c2b51a0a02f01569b4809699e88fab24ecb785b34e210e06d9d8205d5ff308deab42207eaaafcfea1cf20472299eff7"}/
        %p.text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{:name => "item_id", :type => "hidden", :link => "#"}/
        %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
        %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
        %button.message-submit.btn-default.btn-gray{:type => "submit"}
          %span.text コメントする


//ここからコメント欄より下の部分
.item-social-media-box
  .text-center

  %ul.social-media-box
    %li.social-media-box__li
      %a.share-btn__facebook{"data-window-name" => "facebook_window", :href => "#", :target => "_blank"}
        = fa_icon "facebook"

    %li.social-media-box__li
      %a.share-btn__twitter{"data-window-name" => "twitter_window", :href => "#", :target => "_blank"}
        = fa_icon "twitter"

    %li.social-media-box__li
      %a.share-btn__pinterest{"data-window-name" => "pinterest_window", :href => "#", :target => "_blank"}
        = fa_icon "pinterest"

//その他の出品
.items-in-user-profile
  %section.items-box__top
    %h2.items-box__head
      %a{:href => "#"} 藪田狼さんのその他の出品
    .items-box-content
      %section.items-box
        %a.items-box__link{:href => "#"}
          %figure.items-box-photo
            %img.lazyloaded.is-higher-height{:alt => "AMEXオリジナル　トランプ　カードケース", "data-src" => "https://static.mercdn.net/thumb/photos/m44727837355_1.jpg?1574299998", :src => "https://static.mercdn.net/thumb/photos/m44727837355_1.jpg?1574299998"}/
          .items-box-body
            %h3.items-box-item__name AMEXオリジナル　トランプ　カードケース
            .items-box-num
              .items-box-price ¥1,000
              .font-2
                %i.icon-like-border
                %span 1

  //ブランド関連商品             
  %section.items-box__bottom
    %h2.items-box-head
      %a{:href => "https://www.mercari.com/jp/brand/1326/384/"}
        ルイ ヴィトンの長財布 その他の商品
    .items-box-content.clearfix
      %section.items-box
        %a.items-box__link{:href => "https://item.mercari.com/jp/m44618610648/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "ルイヴィトン", "data-src" => "https://static.mercdn.net/thumb/photos/m44618610648_1.jpg?1571046449", :src => "https://static.mercdn.net/thumb/photos/m44618610648_1.jpg?1571046449"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン
            .items-box-num
              .items-box-price ¥14,333
              .font-2
                %i.icon-like-border
                %span 15

%nav.bread-crumbs
  %ul.bread-crumbs__ul
    %li.bread-crumbs__li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
        %span.bread-crumbs__title{:itemprop => "title"} メルカリ
      = fa_icon "chevron-right"
    %li.bread-crumbs__next{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %span{:itemprop => "title"} ルイビトン　タイガのカードケース






%aside.footer-img
  = render"products/footer"
