%script{:src => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js", :type => "text/javascript"}

.header
  = render"products/header"

%section.item-box
  %h1.item-name
    = @product.name
  .item-main-content
    .item-photos
      .item-photo
        .item-photobox
          - @product.images.each do |image|
            .item-image
              = image_tag image
              - unless @product.buyer_id.nil?
                .items-box__sold-out
                  %div SOLD

    -# 出品者情報
    %table.item__product__table
      %tbody
        %tr
          %th.item__product__table__th 出品者
          %td.item__product__table__td
            = link_to @product.seller.nickname, root_path
            %div
              .item-user-ratings__smile
                = fa_icon "smile-o"
                %span 7
              .item-user-ratings__meh
                = fa_icon "meh-o"
                %span 7
              .item-user-ratings__frown
                = fa_icon "frown-o"
                %span 7
        %tr
          %th.item__product__table__th カテゴリー
          %td.item__product__table__td
            = link_to @product.category.root.name, root_path
            = link_to root_path do
              .item__product__table__category
                = fa_icon "chevron-right"
                = @product.category.parent.name
            = link_to root_path do
              .item__product__table__category__sub-category
                = fa_icon "chevron-right"
                = @product.category.name
        %tr
          %th.item__product__table__th ブランド
          %td.item__product__table__td
            - unless @product.brand.nil?
              = link_to @product.brand.name, root_path
        %tr
          %th.item__product__table__th 商品のサイズ
          %td.item__product__table__td
            = @product.size.name
        %tr
          %th.item__product__table__th 商品の状態
          %td.item__product__table__td
            = @product.item_condition.name
        %tr
          %th.item__product__table__th 配送料の負担
          %td.item__product__table__td
            = @product.ship_cost.name
        %tr
          %th.item__product__table__th 配送の方法
          %td.item__product__table__td らくらくメルカリ便
        %tr
          %th.item__product__table__th 配送元地域
          %td.item__product__table__td
            - if @product.shipping_area.nil?
              未定
            - else
              = link_to @product.prefecture.name, root_path
        %tr
          %th.item__product__table__th 発送日の目安
          %td.item__product__table__td
            = @product.ship_date.name

  .item-main__price
    %span.item-main__price__bold
      = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
    %span.item-main__price__tax (税込)
    %span.item-main__price__fee 送料込み

  - if user_signed_in?
    - if current_user.id != @product.seller.id
      = form_with url: confirm_path, local: true do |f|
        = f.number_field :product_id, type: "hidden", value: "#{@product.id}"
        - if @product.buyer_id.nil?
          = f.submit "購入画面に進む", class: "item-main__price__buy-btn"
        - else
          = f.submit "売り切れました", class: "item-main__price__buy-btn buy-btn--gray", disabled: true
    - else
      = link_to "変更する", root_path, class: "item-main__price__buy-btn"
      .item-box__text__center or
      = link_to "出品を一旦停止する", "#", class: "item-main__price__buy-btn buy-btn--gray", data: {turbolinks: false}
      = link_to "この商品を削除する", "/products/#{@product.id}", method: :delete, class: "item-main__price__buy-btn buy-btn--gray"

  .item-main__price__description
    %p.item-main__price__description__text
      = @product.description

  .item-main__price__clearfix
    .item-main__price__button-left
      %button.item-main__price__button-like{type: "button"}
        %i.icon-like-border
        %span
          = fa_icon "heart-o"
          いいね!
      = link_to "#", class: "item-button item-button-report clearfix", data: {turbolinks: false} do
        %span
          = fa_icon "flag-o"
          不適切な商品の報告
      .item-button-right
        = link_to root_path do
          %i.icon-lock &#x1f512; あんしん・あんぜんへの取り組み

-# コメント欄
.item-detail-message
  .message-container
    .message-content
      %form.message-form{action: "#", method: "#"}
        %p.text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        -# %input{name: "item_id", type: "hidden", link: "#"}/
        -# %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
        %textarea.textarea-default{name: "body", type: "text", value: ""}
        %button.message-submit.btn-default.btn-gray{type: "submit"}
          %span.text コメントする

-# 以降コメント欄より下の部分
.item-social-media-box
  .text-center
  %ul.social-media-box
    %li.social-media-box__li
      = link_to root_path, class: "share-btn__facebook", target: "_blank" do
        = fa_icon "facebook"
    %li.social-media-box__li
      = link_to root_path, class: "share-btn__twitter", target: "_blank" do
        = fa_icon "twitter"
    %li.social-media-box__li
      = link_to root_path, class: "share-btn__pinterest", target: "_blank" do
        = fa_icon "pinterest"

-# 出品者その他の出品
.items-in-user-profile
  %section.items-box__top
    %h2.items-box__head
      = link_to "#{@product.seller.nickname}さんのその他の出品", "#"
    .items-box-content
      - @sellers_products.each do |product|
        %section.items-box
          = link_to "/products/#{product.id}", class: "items-box__link", data: {turbolinks: false} do
            %figure.items-box-photo
              = image_tag product.images[0], class: "lazyloaded is-higher-height"
              - unless product.buyer_id.nil?
                .items-box__sold-out
                  %div SOLD
            .items-box-body
              %h3.items-box-item__name
                = product.name
              .items-box-num
                .items-box-price
                  = "¥#{product.price.to_s(:delimited, delimiter: ',')}"
                .font-2
                  = fa_icon "heart-o"
                  %span 21

  -# ブランド関連商品
  %section.items-box__bottom
    %h2.items-box-head
      - unless @product.brand.nil?
        = link_to "#{@product.brand.name}の#{@product.category.name} その他の商品", "#"
      - else
        = link_to "ノーブランド（#{@product.category.root.name}） その他の商品", "#"
    .items-box-content.clearfix
      - @brands_products.each do |product|
        %section.items-box
          = link_to "/products/#{product.id}", class: "items-box__link", data: {turbolinks: false} do
            %figure.items-box-photo
              = image_tag product.images[0], class: "lazyloaded is-higher-height"
              - unless product.buyer_id.nil?
                .items-box__sold-out
                  %div SOLD
            .items-box-body
              %h3.items-box-name.font-2
                = product.name
              .items-box-num
                .items-box-price
                  = "¥#{product.price.to_s(:delimited, delimiter: ',')}"
                .font-2
                  = fa_icon "heart-o"
                  %span 15

%nav.bread-crumbs
  %ul.bread-crumbs__ul
    %li.bread-crumbs__li{itemscope: "", itemtype: "#"}
      = link_to root_path, itemprop: "url" do
        %span.bread-crumbs__title{itemprop: "title"} メルカリ
      = fa_icon "chevron-right"
    %li.bread-crumbs__next{itemscope: "", itemtype: "#"}
      %span{itemprop: "title"}
        = @product.name

%aside.footer-img
  = render "products/footer"
